{% extends "base.html" %}
{% block content %}
<style>
body
{
  background-color: #52a382;
}
p
{
  font-weight: bold;
}
</style>
<div class="outer">
<div class="page-block">
  <p class="username">froggling - Ilya Golovankov</p>
  <div id="big-avatar" style="padding-top: 0;">
  <img class="profile-avatar" src="static/img/avatars/froggling_avatar.gif" width="300" height="300" alt="">
  </div>
  <hr id="about-separator">
  <p class="username">ReptileSD - Denis Bakushev</p>
  <div id="big-avatar" style="padding-top: 0;">
  <img class="profile-avatar" src="static/img/avatars/ReptileSD_avatar.jpg" width="300" height="300" alt="">
  </div>
  <hr id="about-separator">
  <p class="username">Pashka - Pavel Rudnik</p>
  <div id="big-avatar" style="padding-top: 0;">
  <img class="profile-avatar" src="static/img/avatars/pashka_avatar.jpg" width="300" height="300" alt="">
  </div>
</div>
</div>
{% endblock %}
