{% extends "base.html" %}
{% block content %}
<style>
body
{
  background-color: #52a382;
}
p
{
  font-weight: bold;
}
</style>
<div class="outer">
<div class="page-block">
  <p class="username">froggling - Ilya Golovankov</p>
  <div class="big-avatar">
  <img src="static/img/avatars/froggling_avatar.gif" alt="lalala">
  </div>
  <hr id="about-separator">
  <p class="username">ReptileSD - Denis Bakushev</p>
  <div class="big-avatar">
  <img src="static/img/avatars/ReptileSD_avatar.jpg" alt="lalala">
  </div>
  <hr id="about-separator">
  <p class="username">Pashka - Pavel Rudnik</p>
  <div class="big-avatar">
  <img src="static/img/avatars/pashka_avatar.jpg" alt="lalala">
  </div>
</div>
</div>
{% endblock %}
