{% for post in posts %}
<div class="post" db_id="{{ post.id }}"  {% if loop.last %} id="last" {% endif %}>
    <div class="post-header">
      <a href="/{{ post.user.username }}">
        <img src="{{ post.user.avatar_path }}" class="round"
      width="50" height="50" alt="">
        {{ post.user.name }}
        {{ post.user.surname }}
      </a>
        <br>
        {{  post.created_at  }}
        <hr>
    </div>
    <p>{{  post.content  }}</p>
    <hr>
    {% for tag in post.tags %}
    <a href="/search/{{  tag.content  }}">#{{ tag.content }}</a>
    {% endfor %}
    <div id="likes" value={{  post.likes|length  }}>
        <p>Лайки: {{  post.likes|length  }}</p>
        <div class="like_btn" liked="false" id={{ post.id }}>
            <img src="{{ url_for('static', filename='img/like.png')}}">
        </div>
    </div>
</div>

{% endfor %}
