{% extends "base.html" %}

{% block content %}

<div class="page-body">

  <div id="big-avatar">
  <img class="profile-avatar" src="static/img/avatars/froggling_avatar.gif" width="300" height="300" alt="">
  </div>
  <div id="profile-text" class="username">
    <h3>{{ user.name }} {{ user.surname }}</h3>
    <h3 style="font-size: 1em;">@{{ user.username }}</h3>
  </div>
  <div id="status-block">
    <p id="status-text">{{ user.status }}</p>
  </div>
  <hr class="profile-separator" style="width: 75%">
</div>
{% endblock %}
