{% extends "base.html" %}
{% block content %}
<style>
body
{
  background-color: #52a382;
}
p
{
  font-weight: bold;
}
</style>
<div class="form">
<form action="" method="post" class="green-form" novalidate>
  <h1>Sign Up</h1>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
    </p>
    <p>
        <a href="#" data-toggle="tooltip" title="Необязательное поле">*</a>{{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
    </p>
    <p>
        {{ form.repeat_password.label }}<br>
        {{ form.repeat_password(class="form-control", type="password") }}<br>
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary reg_btn") }}</p>
</form>
</div>
{% endblock %}
